#oneColor{
    background-color: rgb(255, 81, 0);
    color: aliceblue;
}
#twoColor{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#threeColor{
    background-color: rgb(146, 255, 155);
    color: rgb(0, 109, 199);
}
#twoColor{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#image{
    width: 300px;
    height: 160px;
}
#img{
    width: 750px;
    height: 400px;
}
